body {
    height: 800px;
    width: 500px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
}

#main {
    height: 35vh;
    width: 100%;
    padding-top: 20px;
    background-color: #37474F;
}

#notification {
    height: 65vh;
    width: 100%;
    background-color: #546E7A;
}

h1#welcome {
    margin: 0;
}

h3#notificationText {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 32px;
}

.timeInputs {
    width: 50px;
}

#btn {
    width: 100px;
    height: 50px;
    background-color: #78909C;
    color: white;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

#btn:active {
    background-color: #506874;
}